@import "tailwindcss";
@import "@nuxt/ui";

@layer base {
	/* Wittgenstein */
	@font-face {
		font-family: 'Wittgenstein';
		src: url('/fonts/Wittgenstein-Black.ttf') format('truetype');
		font-weight: 900;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Wittgenstein';
		src: url('/fonts/Wittgenstein-BlackItalic.ttf') format('truetype');
		font-weight: 900;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: 'Wittgenstein';
		src: url('/fonts/Wittgenstein-Bold.ttf') format('truetype');
		font-weight: 700;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Wittgenstein';
		src: url('/fonts/Wittgenstein-BoldItalic.ttf') format('truetype');
		font-weight: 700;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: 'Wittgenstein';
		src: url('/fonts/Wittgenstein-ExtraBold.ttf') format('truetype');
		font-weight: 800;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Wittgenstein';
		src: url('/fonts/Wittgenstein-ExtraBoldItalic.ttf') format('truetype');
		font-weight: 800;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: 'Wittgenstein';
		src: url('/fonts/Wittgenstein-Italic.ttf') format('truetype');
		font-weight: 400;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: 'Wittgenstein';
		src: url('/fonts/Wittgenstein-Medium.ttf') format('truetype');
		font-weight: 500;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Wittgenstein';
		src: url('/fonts/Wittgenstein-MediumItalic.ttf') format('truetype');
		font-weight: 500;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: 'Wittgenstein';
		src: url('/fonts/Wittgenstein-Regular.ttf') format('truetype');
		font-weight: 400;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Wittgenstein';
		src: url('/fonts/Wittgenstein-SemiBold.ttf') format('truetype');
		font-weight: 600;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Wittgenstein';
		src: url('/fonts/Wittgenstein-SemiBoldItalic.ttf') format('truetype');
		font-weight: 600;
		font-style: italic;
		font-display: swap;
	}

	/* Rubik */
	@font-face {
		font-family: 'Rubik';
		src: url('/fonts/Rubik-Black.ttf') format('truetype');
		font-weight: 900;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Rubik';
		src: url('/fonts/Rubik-BlackItalic.ttf') format('truetype');
		font-weight: 900;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: 'Rubik';
		src: url('/fonts/Rubik-Bold.ttf') format('truetype');
		font-weight: 700;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Rubik';
		src: url('/fonts/Rubik-BoldItalic.ttf') format('truetype');
		font-weight: 700;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: 'Rubik';
		src: url('/fonts/Rubik-ExtraBold.ttf') format('truetype');
		font-weight: 800;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Rubik';
		src: url('/fonts/Rubik-ExtraBoldItalic.ttf') format('truetype');
		font-weight: 800;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: 'Rubik';
		src: url('/fonts/Rubik-Italic.ttf') format('truetype');
		font-weight: 400;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: 'Rubik';
		src: url('/fonts/Rubik-Light.ttf') format('truetype');
		font-weight: 300;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Rubik';
		src: url('/fonts/Rubik-LightItalic.ttf') format('truetype');
		font-weight: 300;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: 'Rubik';
		src: url('/fonts/Rubik-Medium.ttf') format('truetype');
		font-weight: 500;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Rubik';
		src: url('/fonts/Rubik-MediumItalic.ttf') format('truetype');
		font-weight: 500;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: 'Rubik';
		src: url('/fonts/Rubik-Regular.ttf') format('truetype');
		font-weight: 400;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Rubik';
		src: url('/fonts/Rubik-SemiBold.ttf') format('truetype');
		font-weight: 600;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Rubik';
		src: url('/fonts/Rubik-SemiBoldItalic.ttf') format('truetype');
		font-weight: 600;
		font-style: italic;
		font-display: swap;
	}

	html {
		@apply antialiased scroll-smooth font-Rubik;
	}
}

/* ==========================================================
 * ACE BOOKS THEME
 * ========================================================== */

 :root {
	/* ==========================================================
	 * LAYOUT
	 * ========================================================== */

	/* Fondo principal de la aplicación */
	--color-acebooks-background: oklch(100% 0.00011 271.152);

	/* Tarjetas, paneles */
	--color-acebooks-surface: oklch(96.423% 0.00916 150.69);

	/* Dropdowns, thead tablas */
	--color-acebooks-surface-elevated: oklch(84.761% 0.04107 149.72);

	/* ==========================================================
	 * TEXTO
	 * ========================================================== */

	/* Texto base */
	--color-acebooks-text: oklch(0% 0 0);

	/* Texto principal en títulos, encabezados, etc. */
	--color-acebooks-text-title: oklch(30% 0.06 163.01);

	/* Texto secundario, descripciones */
	--color-acebooks-text-subtitle: oklch(60.804% 0.06092 149.4);

	/* ==========================================================
	 * MARCA
	 * ========================================================== */

	/* Color principal */
	--color-acebooks-brand: oklch(59.724% 0.08755 148.65);

	/* Hover del color principal */
	--color-acebooks-brand-hover: oklch(49.099% 0.07114 148.7);

	/* Estado pulsado */
	--color-acebooks-brand-active: oklch(39.174% 0.06151 163.01);

	/* Texto sobre fondos brand */
	--color-acebooks-brand-text: oklch(100% 0.00011 271.152);

	/* Enlaces */
	--color-acebooks-link: oklch(59.724% 0.08755 148.65);

	/* ==========================================================
	 * BORDES
	 * ========================================================== */

	/* Bordes normales */
	--color-acebooks-border: oklch(92.523% 0.01848 150.55);

	/* Bordes destacados */
	--color-acebooks-border-strong: oklch(30% 0.06 163.01);

	/* ==========================================================
	 * INPUTS
	 * ========================================================== */

	/* Fondo del input */
	--color-acebooks-input-background: oklch(96.423% 0.00916 150.69);

	/* Texto del input */
	--color-acebooks-input-text: oklch(0% 0 0);

	/* Placeholder */
	--color-acebooks-input-placeholder: oklch(60.804% 0.06092 149.4);

	/* Borde normal */
	--color-acebooks-input-border: oklch(84.761% 0.04107 149.72);

	/* Focus del input */
	--color-acebooks-input-focus: oklch(59.724% 0.08755 148.65);

	/* ==========================================================
	 * NAVEGACIÓN
	 * ========================================================== */

	/* Fondo del header y footer */
	--color-acebooks-nav-background: oklch(30% 0.06 163.01);

	/* Texto/iconos del header y footer */
	--color-acebooks-nav-text: oklch(24.761% 0.04107 149.72);

	/* ==========================================================
	 * FEEDBACK
	 * ========================================================== */

	/* Mensajes de éxito */
	--color-acebooks-success-background: oklch(49.099% 0.07114 148.7);
	--color-acebooks-success-text: oklch(100% 0.00011 271.152);

	/* Advertencias */
	--color-acebooks-warning-background: oklch(66.497% 0.11932 80.897);
	--color-acebooks-warning-text: oklch(100% 0.00011 271.152);

	/* Información */
	--color-acebooks-info-background: oklch(51.367% 0.06697 271.366);
	--color-acebooks-info-text: oklch(100% 0.00011 271.152);

	/* Errores y acciones destructivas */
	--color-acebooks-error-background: oklch(52.282% 0.07036 19.668);
	--color-acebooks-error-text: oklch(100% 0.00011 271.152);
}

/* ==========================================================
 * DARK THEME
 * ========================================================== */

.dark {
	/* ==========================================================
	 * LAYOUT
	 * ========================================================== */

	/* Fondo principal de la aplicación */
	--color-acebooks-background: oklch(0% 0 none);

	/* Tarjetas, paneles */
	--color-acebooks-surface: oklch(25% 0.05 160.02);

	/* Dropdowns, thead tablas */
	--color-acebooks-surface-elevated: oklch(39.174% 0.06151 163.01);

	/* ==========================================================
	 * TEXTO
	 * ========================================================== */

	/* Texto base */
	--color-acebooks-text: oklch(100% 0.00011 271.152);

	/* Texto principal en títulos, encabezados, etc. */
	--color-acebooks-text-title: oklch(84.761% 0.04107 149.72);

	/* Texto secundario, descripciones */
	--color-acebooks-text-subtitle: oklch(68.715% 0.08195 149.32);

	/* ==========================================================
	 * MARCA
	 * ========================================================== */

	/* Botón principal */
	--color-acebooks-brand: oklch(59.724% 0.08755 148.65);

	/* Hover del color principal */
	--color-acebooks-brand-hover: oklch(49.099% 0.07114 148.7);

	/* Estado pulsado */
	--color-acebooks-brand-active: oklch(68.715% 0.08195 149.32);

	/* Texto sobre fondos brand */
	--color-acebooks-brand-text: oklch(100% 0.00011 271.152);

	/* Enlaces */
	--color-acebooks-link: oklch(59.724% 0.08755 148.65);

	/* ==========================================================
	 * BORDES
	 * ========================================================== */

	/* Bordes normales */
	--color-acebooks-border: oklch(39.174% 0.06151 163.01);

	/* Bordes destacados */
	--color-acebooks-border-strong: oklch(68.715% 0.08195 149.32);

	/* ==========================================================
	 * INPUTS
	 * ========================================================== */

	/* Fondo del input */
	--color-acebooks-input-background: oklch(25% 0.04 152.86);

	/* Texto del input */
	--color-acebooks-input-text: oklch(100% 0.00011 271.152);

	/* Placeholder */
	--color-acebooks-input-placeholder: oklch(68.715% 0.08195 149.32);

	/* Borde normal */
	--color-acebooks-input-border: oklch(84.761% 0.04107 149.72);

	/* Focus del input */
	--color-acebooks-input-focus: oklch(59.724% 0.08755 148.65);

	/* ==========================================================
	 * NAVEGACIÓN
	 * ========================================================== */

	/* Fondo del header y footer */
	--color-acebooks-nav-background: oklch(30% 0.06 163.01);

	/* Texto/iconos del header y footer */
	--color-acebooks-nav-text: oklch(84.761% 0.04107 149.72);

	/* ==========================================================
	 * FEEDBACK
	 * ========================================================== */

	/* Mensajes de éxito */
	--color-acebooks-success-background: oklch(49.099% 0.07114 148.7);
	--color-acebooks-success-text: oklch(100% 0.00011 271.152);

	/* Advertencias */
	--color-acebooks-warning-background: oklch(66.497% 0.11932 80.897);
	--color-acebooks-warning-text: oklch(100% 0.00011 271.152);

	/* Información */
	--color-acebooks-info-background: oklch(51.367% 0.06697 271.366);
	--color-acebooks-info-text: oklch(100% 0.00011 271.152);

	/* Errores y acciones destructivas */
	--color-acebooks-error-background: oklch(52.282% 0.07036 19.668);
	--color-acebooks-error-text: oklch(100% 0.00011 271.152);
}

@theme {
	--color-*: initial;

	/* LAYOUT */
	--color-acebooks-background: var(--color-acebooks-background);
	--color-acebooks-surface: var(--color-acebooks-surface);
	--color-acebooks-surface-elevated: var(--color-acebooks-surface-elevated);

	/* TEXTO */
	--color-acebooks-text: var(--color-acebooks-text);
	--color-acebooks-text-title: var(--color-acebooks-text-title);
	--color-acebooks-text-subtitle: var(--color-acebooks-text-subtitle);

	/* MARCA */
	--color-acebooks-brand: var(--color-acebooks-brand);
	--color-acebooks-brand-hover: var(--color-acebooks-brand-hover);
	--color-acebooks-brand-active: var(--color-acebooks-brand-active);
	--color-acebooks-brand-text: var(--color-acebooks-brand-text);
	--color-acebooks-link: var(--color-acebooks-link);

	/* BORDES */
	--color-acebooks-border: var(--color-acebooks-border);
	--color-acebooks-border-strong: var(--color-acebooks-border-strong);

	/* INPUTS */
	--color-acebooks-input-background: var(--color-acebooks-input-background);
	--color-acebooks-input-text: var(--color-acebooks-input-text);
	--color-acebooks-input-placeholder: var(--color-acebooks-input-placeholder);
	--color-acebooks-input-border: var(--color-acebooks-input-border);
	--color-acebooks-input-focus: var(--color-acebooks-input-focus);

	/* NAVEGACIÓN */
	--color-acebooks-nav-background: var(--color-acebooks-nav-background);
	--color-acebooks-nav-text: var(--color-acebooks-nav-text);

	/* FEEDBACK */
	--color-acebooks-success-background: var(--color-acebooks-success-background);
	--color-acebooks-success-text: var(--color-acebooks-success-text);
	--color-acebooks-warning-background: var(--color-acebooks-warning-background);
	--color-acebooks-warning-text: var(--color-acebooks-warning-text);
	--color-acebooks-info-background: var(--color-acebooks-info-background);
	--color-acebooks-info-text: var(--color-acebooks-info-text);
	--color-acebooks-error-background: var(--color-acebooks-error-background);
	--color-acebooks-error-text: var(--color-acebooks-error-text);

	/* ==========================================================
	 * FUENTES
	 * ========================================================== */

	--font-Rubik: "Rubik", "sans-serif";
	--font-Wittgenstein: "Wittgenstein", "serif";

	/* ==========================================================
	 * ANIMACIONES
	 * ========================================================== */

	@keyframes pulse-effect {
		0% {
			transform: scale(1);
			opacity: 1;
		}

		50% {
			opacity: 0.3;
		}

		100% {
			transform: scale(1.5);
			opacity: 0;
		}
	}

	--animate-pulse-v2: pulse-effect 1.2s ease infinite;
}

@utility text-shadow {
	text-shadow: 0 2px 5px var(--tw-shadow-color);
}

body {
	@apply antialiased bg-acebooks-background text-acebooks-text scheme-light dark:scheme-dark;
}

.logo {
	@apply font-Wittgenstein font-semibold;
	font-size: 2.5rem;
	line-height: 1;
}

.svg-icon svg,
.icon svg,
.iconify svg {
	margin-bottom: 0;
	width: auto !important;
	height: auto !important;
}
