@import "tailwindcss";

@plugin "@tailwindcss/forms";

@layer base {
	/* Wittgenstein */
	@font-face {
		font-family: 'Wittgenstein';
		src: url('/fonts/Wittgenstein-Black.ttf') format('truetype');
		font-weight: 900;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Wittgenstein';
		src: url('/fonts/Wittgenstein-BlackItalic.ttf') format('truetype');
		font-weight: 900;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: 'Wittgenstein';
		src: url('/fonts/Wittgenstein-Bold.ttf') format('truetype');
		font-weight: 700;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Wittgenstein';
		src: url('/fonts/Wittgenstein-BoldItalic.ttf') format('truetype');
		font-weight: 700;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: 'Wittgenstein';
		src: url('/fonts/Wittgenstein-ExtraBold.ttf') format('truetype');
		font-weight: 800;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Wittgenstein';
		src: url('/fonts/Wittgenstein-ExtraBoldItalic.ttf') format('truetype');
		font-weight: 800;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: 'Wittgenstein';
		src: url('/fonts/Wittgenstein-Italic.ttf') format('truetype');
		font-weight: 400;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: 'Wittgenstein';
		src: url('/fonts/Wittgenstein-Medium.ttf') format('truetype');
		font-weight: 500;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Wittgenstein';
		src: url('/fonts/Wittgenstein-MediumItalic.ttf') format('truetype');
		font-weight: 500;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: 'Wittgenstein';
		src: url('/fonts/Wittgenstein-Regular.ttf') format('truetype');
		font-weight: 400;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Wittgenstein';
		src: url('/fonts/Wittgenstein-SemiBold.ttf') format('truetype');
		font-weight: 600;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Wittgenstein';
		src: url('/fonts/Wittgenstein-SemiBoldItalic.ttf') format('truetype');
		font-weight: 600;
		font-style: italic;
		font-display: swap;
	}

	/* Rubik */
	@font-face {
		font-family: 'Rubik';
		src: url('/fonts/Rubik-Black.ttf') format('truetype');
		font-weight: 900;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Rubik';
		src: url('/fonts/Rubik-BlackItalic.ttf') format('truetype');
		font-weight: 900;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: 'Rubik';
		src: url('/fonts/Rubik-Bold.ttf') format('truetype');
		font-weight: 700;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Rubik';
		src: url('/fonts/Rubik-BoldItalic.ttf') format('truetype');
		font-weight: 700;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: 'Rubik';
		src: url('/fonts/Rubik-ExtraBold.ttf') format('truetype');
		font-weight: 800;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Rubik';
		src: url('/fonts/Rubik-ExtraBoldItalic.ttf') format('truetype');
		font-weight: 800;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: 'Rubik';
		src: url('/fonts/Rubik-Italic.ttf') format('truetype');
		font-weight: 400;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: 'Rubik';
		src: url('/fonts/Rubik-Light.ttf') format('truetype');
		font-weight: 300;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Rubik';
		src: url('/fonts/Rubik-LightItalic.ttf') format('truetype');
		font-weight: 300;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: 'Rubik';
		src: url('/fonts/Rubik-Medium.ttf') format('truetype');
		font-weight: 500;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Rubik';
		src: url('/fonts/Rubik-MediumItalic.ttf') format('truetype');
		font-weight: 500;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: 'Rubik';
		src: url('/fonts/Rubik-Regular.ttf') format('truetype');
		font-weight: 400;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Rubik';
		src: url('/fonts/Rubik-SemiBold.ttf') format('truetype');
		font-weight: 600;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Rubik';
		src: url('/fonts/Rubik-SemiBoldItalic.ttf') format('truetype');
		font-weight: 600;
		font-style: italic;
		font-display: swap;
	}

	html {
		@apply antialiased scroll-smooth font-Rubik;
	}
}

@theme {
	--color-acebooks-green-50: #f4faf3;
	--color-acebooks-green-100: #e5f4e4;
	--color-acebooks-green-200: #cbe8ca;
	--color-acebooks-green-300: #a0d5a0;
	--color-acebooks-green-400: #72bb72;
	--color-acebooks-green-500: #4a9d4b;
	--color-acebooks-green-600: #398039;
	--color-acebooks-green-700: #2f6630;
	--color-acebooks-green-800: #2a512b;
	--color-acebooks-green-900: #244325;
	--color-acebooks-green-950: #0f2410;

	--color-acebooks-brown-50: #f9f9f1;
	--color-acebooks-brown-100: #eaecd9;
	--color-acebooks-brown-200: #d4d8af;
	--color-acebooks-brown-300: #c1c485;
	--color-acebooks-brown-400: #babb72;
	--color-acebooks-brown-500: #aaa456;
	--color-acebooks-brown-600: #968949;
	--color-acebooks-brown-700: #7d6c40;
	--color-acebooks-brown-800: #685838;
	--color-acebooks-brown-900: #574930;
	--color-acebooks-brown-950: #302718;

	--font-Rubik: "Rubik", "sans-serif";
	--font-Wittgenstein: "Wittgenstein", "serif";

	@keyframes pulse-effect {
		0% {
			transform: scale(1);
			opacity: 1;
		}

		50% {
			opacity: 0.3;
		}

		100% {
			transform: scale(1.5);
			opacity: 0;
		}
	}

	--animate-pulse-v2: pulse-effect 1.2s ease infinite;
}

@utility text-shadow {
	text-shadow: 0 2px 5px var(--tw-shadow-color);
}

.logo {
	@apply font-Wittgenstein font-semibold;
	font-size: 2.5rem;
	line-height: 1;
}

.nuxt-icon svg {
	margin-bottom: 0;
	width: auto !important;
	height: auto !important;
}
