@import "tailwindcss";

@layer base {

	/* Wittgenstein */
	@font-face {
		font-family: 'Wittgenstein';
		src: url('/fonts/Wittgenstein-Black.ttf') format('truetype');
		font-weight: 900;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Wittgenstein';
		src: url('/fonts/Wittgenstein-BlackItalic.ttf') format('truetype');
		font-weight: 900;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: 'Wittgenstein';
		src: url('/fonts/Wittgenstein-Bold.ttf') format('truetype');
		font-weight: 700;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Wittgenstein';
		src: url('/fonts/Wittgenstein-BoldItalic.ttf') format('truetype');
		font-weight: 700;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: 'Wittgenstein';
		src: url('/fonts/Wittgenstein-ExtraBold.ttf') format('truetype');
		font-weight: 800;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Wittgenstein';
		src: url('/fonts/Wittgenstein-ExtraBoldItalic.ttf') format('truetype');
		font-weight: 800;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: 'Wittgenstein';
		src: url('/fonts/Wittgenstein-Italic.ttf') format('truetype');
		font-weight: 400;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: 'Wittgenstein';
		src: url('/fonts/Wittgenstein-Medium.ttf') format('truetype');
		font-weight: 500;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Wittgenstein';
		src: url('/fonts/Wittgenstein-MediumItalic.ttf') format('truetype');
		font-weight: 500;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: 'Wittgenstein';
		src: url('/fonts/Wittgenstein-Regular.ttf') format('truetype');
		font-weight: 400;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Wittgenstein';
		src: url('/fonts/Wittgenstein-SemiBold.ttf') format('truetype');
		font-weight: 600;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Wittgenstein';
		src: url('/fonts/Wittgenstein-SemiBoldItalic.ttf') format('truetype');
		font-weight: 600;
		font-style: italic;
		font-display: swap;
	}

	/* Rubik */
	@font-face {
		font-family: 'Rubik';
		src: url('/fonts/Rubik-Black.ttf') format('truetype');
		font-weight: 900;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Rubik';
		src: url('/fonts/Rubik-BlackItalic.ttf') format('truetype');
		font-weight: 900;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: 'Rubik';
		src: url('/fonts/Rubik-Bold.ttf') format('truetype');
		font-weight: 700;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Rubik';
		src: url('/fonts/Rubik-BoldItalic.ttf') format('truetype');
		font-weight: 700;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: 'Rubik';
		src: url('/fonts/Rubik-ExtraBold.ttf') format('truetype');
		font-weight: 800;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Rubik';
		src: url('/fonts/Rubik-ExtraBoldItalic.ttf') format('truetype');
		font-weight: 800;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: 'Rubik';
		src: url('/fonts/Rubik-Italic.ttf') format('truetype');
		font-weight: 400;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: 'Rubik';
		src: url('/fonts/Rubik-Light.ttf') format('truetype');
		font-weight: 300;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Rubik';
		src: url('/fonts/Rubik-LightItalic.ttf') format('truetype');
		font-weight: 300;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: 'Rubik';
		src: url('/fonts/Rubik-Medium.ttf') format('truetype');
		font-weight: 500;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Rubik';
		src: url('/fonts/Rubik-MediumItalic.ttf') format('truetype');
		font-weight: 500;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: 'Rubik';
		src: url('/fonts/Rubik-Regular.ttf') format('truetype');
		font-weight: 400;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Rubik';
		src: url('/fonts/Rubik-SemiBold.ttf') format('truetype');
		font-weight: 600;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Rubik';
		src: url('/fonts/Rubik-SemiBoldItalic.ttf') format('truetype');
		font-weight: 600;
		font-style: italic;
		font-display: swap;
	}

	html {
		@apply antialiased scroll-smooth font-Rubik;
	}
}

@theme {
	--color-acebooks-green-50: oklch(97.7% 0.04 140);
	--color-acebooks-green-100: oklch(94.7% 0.10 142);
	--color-acebooks-green-200: oklch(89.2% 0.19 143);
	--color-acebooks-green-300: oklch(80.5% 0.34 143);
	--color-acebooks-green-400: oklch(69.7% 0.48 142);
	--color-acebooks-green-500: oklch(58.1% 0.55 140);
	--color-acebooks-green-600: oklch(47.8% 0.49 140);
	--color-acebooks-green-700: oklch(38.4% 0.39 141);
	--color-acebooks-green-800: oklch(30.8% 0.29 142);
	--color-acebooks-green-900: oklch(25.3% 0.24 142);
	--color-acebooks-green-950: oklch(12.0% 0.17 143);

	--color-acebooks-brown-50: oklch(97.7% 0.04 110);
	--color-acebooks-brown-100: oklch(92.8% 0.10 114);
	--color-acebooks-brown-200: oklch(85.1% 0.21 112);
	--color-acebooks-brown-300: oklch(77.6% 0.33 109);
	--color-acebooks-brown-400: oklch(74.3% 0.39 107);
	--color-acebooks-brown-500: oklch(66.3% 0.42 102);
	--color-acebooks-brown-600: oklch(56.9% 0.36 96);
	--color-acebooks-brown-700: oklch(46.3% 0.27 89);
	--color-acebooks-brown-800: oklch(38.2% 0.21 85);
	--color-acebooks-brown-900: oklch(31.8% 0.17 84);
	--color-acebooks-brown-950: oklch(16.2% 0.12 82);

	--font-Rubik: "Rubik", "sans-serif";
	--font-Wittgenstein: "Wittgenstein", "serif";

	@keyframes pulse-effect {
		0% {
			transform: scale(1);
			opacity: 1;
		}

		50% {
			opacity: 0.3;
		}

		100% {
			transform: scale(1.5);
			opacity: 0;
		}
	}

	--animate-pulse-v2: pulse-effect 1.2s ease infinite;
}

@utility text-shadow {
	text-shadow: 0 2px 5px var(--tw-shadow-color);
}

.logo {
	@apply font-Wittgenstein font-semibold;
	font-size: 2.5rem;
	line-height: 1;
}

.nuxt-icon svg {
	margin-bottom: 0;
	width: auto !important;
	height: auto !important;
}
