@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-books {
    background-image: url('../images/bg_index.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
